@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@100;300;400;500;700&display=swap');

:root {
    --cantidad-proyectos: 3;
    --principal-color:rgb(243, 112, 33);
    --body-color:rgb(0, 0, 0);
    --body-color-lighter:rgb(23, 23, 23);
    --letter-color:rgb(255, 255, 255);
    --contact-submit-button:rgb(81, 189, 81);
    /* --principal-color: rgb(255, 0, 166); */
}

body{
    background-color: var(--body-color);
    color: var(--letter-color);
    font-family: 'Josefin Sans', sans-serif;
    font-weight: 300;
}

header{
    display: flex;
    justify-content: center;
}

header ul{
    display: flex;
    padding: 10px 10px 50px 10px;
}

li{
    list-style: none;
    margin: 5px 10px;
}

h1{
    font-size: 160px;
    font-weight: 700;
    margin: 0;
}

h2{
    margin: 0;
    font-weight: 300;
    text-align: center;
}

h3{
    margin: 0;
}

.subtitle{
    font-size: 50px;
}

section {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.hero-section{
    margin-top: 17vh;
    text-align: center;
}

.light-text{
    font-weight: 100;
}

footer{
    position: fixed;
    bottom: 0;
    left: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100vw;
}

footer ul{
    display: flex;
    padding: 30px;
}

.options {
    display: flex;
}

.options a{
    margin: 40px 10px;
}

a {
    text-decoration: none;
    color: var(--letter-color);
}

.socials{
    width: 100px;
    height: 320px;
    background-color: var(--principal-color);
    border-radius: 30px 0 0 30px;
    position: fixed;
    right: 0;
    top: 25vh;
}

@media screen and (max-width:600px){
    .socials{
        display: none;
    }
}

.social {
    width: 100%;
    height: 33%;
}

.wave {
    fill: var(--body-color-lighter);
    width: 100vw;
    height: 65vh;
    position: fixed;
    bottom: 0;
    left: 0;

}

.social svg{
    fill: var(--letter-color);
}

a:hover{
    color: var(--principal-color)
}

/* work pages */

.carrousel{
    width: 90%;
    max-width: 120em;
    overflow-x: hidden;
}

.carrousel .grande{
    width: calc( var(--cantidad-proyectos) * 100%);
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    align-items: center;
    padding: 1em 3em 1em 1em;

    transition: all .5s ease;
    transform: translateX(0%);

    border-top: 1px solid var(--principal-color);
    border-bottom: 1px solid var(--principal-color);

    background-color: var(--body-color-lighter);
}

.proyecto{
    width: calc( 100% / var(--cantidad-proyectos) - 2em);
    max-height: 35vh;
    display: flex;
}

.proyecto-imagen-container{
    width: 50%;
    display: flex;
    align-items: center;
    
}

.descripcion-proyecto-container{
    width: 50%;
    padding: 2rem 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
}

.titulo-proyecto{
    font-size: 26px;
    font-weight: 700;
    margin-bottom: 2rem;
}

.link-proyecto{
    margin-top: 1rem;
}

.img-proyecto{
    height: 80%;
    width: 65%;
}

.carrousel .puntos{
    margin: 1em 0 0;
    padding: .4em;
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    align-items: center;
    border: 1px solid var(--principal-color);
    background-color: var(--body-color-lighter);
}
.carrousel .punto{
    cursor: pointer;
    width: 1.5em;
    height: 1.5em;
    margin: .2em;
    border-radius: 20px;
    border: 1px solid var(--principal-color);
}
.carrousel .punto.activo{
    background-color: var(--principal-color)
}


@media screen and (max-width:600px){
    .proyecto{
        flex-direction: column;
        max-height: none;
    }
    .proyecto-imagen-container{
        width: 100%;
        height: 50%;
        justify-content: center;
    }
    
    .descripcion-proyecto-container{
        width: 100%;
        height: 50%;
        text-align: center;
        align-items: center;
    }

    .titulo-proyecto{
        text-align: center;
    }

    .img-proyecto{
        height: 200px;
        width: 90%;
    }
}

.sub-pages-footer{
    position: relative;
    width: 100%;
}

/* about me section */

.about-me{
    width: 50%;
    text-align: center;
}

.about-me img{
    height: 150px;
    width: 130px;
    border-radius: 50%;
    margin: 40px 10px 10px 10px;
}

@media screen and (max-width:600px){
    .about-me{
        width: 70%;
    }
}

/* stack page */

.stack-list{
    padding: 0;
    text-align: center;
}

.stack-list li{
    font-size: 20px;
}

/* contact page */

.form-submit{
    width: 50%;
}

.form-submit form{
    width: 100%;
}

.form-submit .form-row{
    display: flex;
    justify-content: space-between;
}

.form-row .form-control{
    width: 50%;
    border: none;
    font-size: 20px;
    padding: 5px;
    font-family: 'Josefin Sans', sans-serif;
    padding: 20px 0;
}

.form-row .form-control:focus,
.form-submit textarea:focus{
    background-color: yellow;
}

.form-submit textarea{
    font-family: 'Josefin Sans', sans-serif;
    width: 100%;
    border: none;
    resize: none;
    margin-top: 5px;
    font-size: 20px;
    padding: 20px 0;
}

form button{
    width: 100%;
    background-color: var(--contact-submit-button);
    color: var(--letter-color);
    border: none;
    font-family: 'Josefin Sans', sans-serif;
    padding: 20px;
    font-size: 20px;
}

@media screen and (max-width:600px){
    .form-submit{
        width: 80%;
    }
    .form-submit .form-row{
        display: flex;
        flex-direction: column;
    }

    .form-row .form-control{
        width: 100%;
        margin-top: 5px;
    }
}








